<main role="main" class="container mx-auto">
  <p>
    Une conférence réunissant des professionnel⋅le⋅s de l'IT pour échanger sur
    leurs pratiques et savoirs respectifs sous forme d'ateliers,
    expérimentations, débats ferait sens pour toi ?
  </p>
  <!-- <p class="text-xl mt-8 mb-2">
    On réfléchit à la date et au format du prochain événement ;)
  </p> -->
  <br />
  <section class="mb-4">
    <h2>Hello World, qu'est ce que c'est ?</h2>
    <p>
      Hello World est une conférence axée sur les échanges et la pratique pour
      les métiers de l'IT. Cela concerne tous les secteurs impliqués dans la
      réalisation de logiciels, tels que développement, test, DevOps, sécurité
      et réseau, design, métier/fonctionnel ...
    </p>
    <p>
      Les échanges se font principalement sous forme d'ateliers ou de forums de
      discussion avec un nombre limité de participants. Cette démarche nous
      permet de proposer des formats qualitatifs axés sur la pratique,
      impliquant ainsi toutes les personnes intéressées pour favoriser le
      partage des savoirs et l'apprentissage.
    </p>
    <p>
      L'organisation de la conférence se fait justement au format
      <a href="https://en.wikipedia.org/wiki/Unconference" target="blank"
        >"unconference"</a
      >. Chaque personne est incitée à proposer des sujets et à être actrice
      lors de cette journée.
    </p>
  </section>
  <section>
    <h2>Oui mais c'est quoi le programme ?</h2>
    Ça on ne sait pas 🤷‍♂️, ça dépend de toi et des autres participants, mais tu
    peux toujours aller voir
    <a
      href="https://github.com/hello-world-conference/conference/issues?q=is%3Aissue+is%3Aclosed"
      target="blank"
      >ce qui a déjà été proposé dans toutes les précédentes éditions</a
    >
    , ça peut te donner une idée de ce que tu y trouveras et de ce que tu peux y
    proposer.
  </section>
  <section class="mb-4">
    <h2>Les précédentes éditions</h2>
    <ul class="divide-y divide-gray-300">
      <li><b>16/04/2021</b> : Session réalisée à distance<br /></li>
      <li>
        <b>02/10/2020</b> : Session réalisée à distance<br /><a
          href="https://github.com/hello-world-conference/conference/milestone/4?closed=1"
          target="blank"
          >Le détail des propositions</a
        >
      </li>
      <li>
        <b>07/05/2020</b> : Session réalisée à distance<br /><a
          href="https://github.com/hello-world-conference/conference/milestone/3?closed=1"
          target="blank"
          >Le détail des propositions</a
        >
      </li>
      <li>
        <b>15/11/2019</b> : Session dans les locaux de KNP Labs à Nantes<br /><a
          href="https://github.com/hello-world-conference/conference/milestone/2?closed=1"
          target="blank"
          >Le détail des propositions</a
        >
      </li>
      <li>
        <b>28/06/2019</b> : Session dans les locaux de KNP Labs à Nantes<br /><a
          href="https://github.com/hello-world-conference/conference/milestone/1?closed=1"
          target="blank"
          >Le détail des propositions</a
        >
      </li>
    </ul>
  </section>
  <section>
    <h2>Nos échecs, enfin nos apprentissages quoi...</h2>
    <ul>
      {% for post in collections.posts %}
      <li>
        <time datetime="{{ post.date | htmlDateString }}"
          >{{ post.date | readableDate }}</time
        >
        <a href="{{ post.url | url }}" class="">{{ post.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
