---
layout: layouts/app.layout.njk
---

<h1>Code de conduite</h1>
<p>Notre conférence se veut une expérience sans harcèlement, quel que soit votre sexe, votre identité sexuelle, votre
  âge, votre orientation sexuelle, votre handicap, votre apparence physique, votre poids, votre race ou votre religion.
  Nous ne tolérons aucun harcèlement des participant‧e‧s à la conférence, sous quelque forme que ce soit. Les expressions
  et les images à connotation sexuelle ne sont pas appropriées durant l'événement y compris sur les réseaux sociaux.
  L'organisation s'engage à prendre des sanctions appropriées pour les personnes qui violent ces règles, jusqu'à
  l'exclusion et le recours légal.</p>
<p>En tant que participant, n'hésitez pas à intervenir pour rappeler ce code de conduite si vous constater des écarts
  manifestes et à nous prévenir la cas échéant.</p>
<p>Si vous avez besoin d'aide, vous pouvez vous tourner vers une personne de l'organisation ou nous joindre par email :
  hellownantes.conf@gmail.com</p>
{{ content | safe }}
<p class="mt-12">
  <a href="{{ '/' | url }}">← Accueil</a>
</p>