---
layout: layouts/app.layout.njk
---

<p class="eye-catching">
  La 7ième édition aura le vendredi 12 avril 2024 !<br/> Elle se déroulera chez
  <a href="https://www.novapuls.fr/" target="_blank">Novapuls</a>
  en plein centre de Nantes<br/> 👉
  <a href="https://www.eventbrite.fr/e/billets-hello-world-7-830395775117" target="_blank">
    Inscription à l'événement</a>
  👈
</p>
<section class="mb-4">
  <h2>Hello World, qu'est ce que c'est ?</h2>
  <p>
    Hello World est une conférence axée sur les échanges et la pratique pour les métiers de l'IT. Cela concerne tous les
    secteurs impliqués dans la réalisation de logiciels, tels que développement, test, DevOps, sécurité et réseau, design,
    métier/fonctionnel ...
  </p>
  <p>
    Les échanges se font principalement sous forme d'ateliers ou de forums de discussion avec un nombre limité de
    participants. Cette démarche nous permet de proposer des formats qualitatifs axés sur la pratique, impliquant ainsi
    toutes les personnes intéressées pour favoriser le partage des savoirs et l'apprentissage.
  </p>
  <p>
    L'organisation de la conférence se fait justement au format
    <a href="https://en.wikipedia.org/wiki/Unconference" target="blank">"unconference"</a>. Chaque personne est incitée à
                    proposer des sujets et à être actrice lors de cette journée.
  </p>
</section>
<section>
  <h2>Pour la prochaine édition, ça sera quoi le programme ?</h2>
  Ça on ne sait pas 🤷‍♂️, ça dépend de toi et des autres participants, mais tu peux toujours aller
    voir
  <a href="https://github.com/hello-world-conference/conference/issues?q=is%3Aissue+is%3Aclosed" target="blank">ce qui a
    déjà été proposé dans toutes les précédentes éditions</a>
  , ça peut te donner une idée de ce que tu y trouveras et de ce que tu peux y
                      proposer.
</section></p>