---
layout: layouts/app.layout.njk
---

<h1>Précédentes éditions</h1>
<ul class="divide-y divide-gray-300">
  <li>
    <b>29/09/2023</b>
    : Session dans les locaux de Zenika à Nantes<br/>
  </li>
  <li>
    <b>16/04/2021</b>
    : Session réalisée à distance<br/></li>
  <li>
    <b>02/10/2020</b>
    : Session réalisée à distance<br/><a href="https://github.com/hello-world-conference/conference/milestone/4?closed=1" target="blank">
      Le détail des propositions</a>
  </li>
  <li>
    <b>07/05/2020</b>
    : Session réalisée à distance<br/><a href="https://github.com/hello-world-conference/conference/milestone/3?closed=1" target="blank">
      Le détail des propositions</a>
  </li>
  <li>
    <b>15/11/2019</b>
    : Session dans les locaux de KNP Labs à Nantes<br/><a href="https://github.com/hello-world-conference/conference/milestone/2?closed=1" target="blank">
      Le détail des propositions</a>
  </li>
  <li>
    <b>28/06/2019</b>
    : Session dans les locaux de KNP Labs à Nantes<br/><a href="https://github.com/hello-world-conference/conference/milestone/1?closed=1" target="blank">
      Le détail des propositions</a>
  </li>
</ul>
<p class="mt-12">
  <a href="{{ '/' | url }}">← Accueil</a>
</p>